<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shooting For The Stars!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
</head>

<body>

<div class="container">
		<div class = "row">
			<div class = "col-md-12">
          <h3>Shooting For The Stars!</h3>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-12">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown">
          Button
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#"></a>
          </div>
			</div>
		</div>
	</div>


</body>

